html {
    font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
    font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google fonts */
  }
  h1 {
    font-size: 60px;
    text-align: center;
  }
  
  p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
  }
  html {
    background-color:rgba(200, 075, 180, .75);
  }
  body {
    width: 600px;
    margin: 0 auto;
    background-color: aqua;
    padding: 0 20px 20px 20px;
    border: 5px solid burlywood;
  }
  h1 {
    margin: 0;
    padding: 20px auto;
    color: rgba(200, 170, 100, .70);
  }
  img {
    display: block;
    margin: 0 auto;
    width: 400px;
  }
  button {
    font-size: 25px;
    background-color: rgb(161, 23, 189);
    border: black;
    padding: auto;
    margin: 0;
    color: blanchedalmond;
  }